body {
    margin: 0px;
    font-size: 0px;
}

canvas {
    height: 100vh;
    width: 100vw;
}

/* div.overlay {
    position: fixed;
    font-size: initial;
    padding: 1em 1.5em;
    border-radius: .5em;
    *//* background-color: rgb(239, 239, 239); *//*
    background-color: white;
    opacity: 0.8;
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap: 1em;
    align-items: center;
}

div.overlay>label {
    font-weight: bold;
}

div#params {
    top: 1em;
    left: 1em;
}

div#commands {
    bottom: 1em;
    right: 1em;
}

div#params>input[type=number] {
    width: 3em;
    background-color: inherit;
    border: 1px solid rgb(63, 63, 63);
    padding: .2em .4em;
} */
